#!/usr/bin/make -f

export JAVA_HOME := /usr/lib/jvm/default-java

PKG  = $(word 2,$(shell dpkg-parsechangelog -ldebian/changelog | grep ^Source))
VER ?= $(shell dpkg-parsechangelog -ldebian/changelog | perl -ne 'print $$1 if m{^Version:\s+(?:\d+:)?(\d.*)(?:\-\d+.*)};')

%:
	dh $@ --buildsystem=maven --with javahelper

override_dh_link:
	VERSION=$(shell grep 'debian.originalVersion' pom.xml | head -1 | sed -e 's/.*<debian.originalVersion>\(.*\)<\/debian.originalVersion>.*/\1/') \
	dh_link

override_dh_installchangelogs:
	dh_installchangelogs VERSION.txt

get-orig-source:
	sh debian/get-orig-source.sh "$(PKG)" "$(VER)"

